<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Your title">
	<meta name="format-detection" content="telephone=no">
	<title>修改数据</title>
	<link rel="stylesheet" type="text/css" href="./pkgs/bootstrap-3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/common.css">
</head>
<body>
<div class="ht-container">
	<div class="ht-container-header">
		<div class="logo">
			<img src="./img/logo.png">	
		</div>
		金海棠多媒体展示系统
		<a class="exit">退出</a>
		<a target="_blank" href="index.html">预览</a>
	</div>
	<div class="ht-container-body">
		<div class="ht-menu">
			<ul>
				<li class="active"><a href="listAll.html">信息管理</a></li>
				<li><a href="setting.html">系统设置</a></li>
			</ul>
		</div>
		<div class="ht-content">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="listAll.html">所有会议</a></li>
				<li role="presentation"><a href="write.html">新增会议</a></li>
			</ul>

			<div class="panel panel-default">
				<div class="panel-heading">会议室占用表</div>
				<div class="panel-body">
					<table class="table table-striped" v-cloak>
						<thead>
							<tr>
								<th>日期</th>
								<th>时间区间</th>
								<th>会议室</th>
								<th>申请人</th>
								<th>会议简介</th>
								<th>申请部门</th>
								<th>会议状态</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="data in datas">
								<td>{{ data.meeting_date }}</td>
								<td>{{ data.starttime }}-{{ data.endtime }}</td>
								<td>{{ data.meeting_room }}</td>
								<td>{{ data.proposer }}</td>
								<td>{{ data.meeting_intro }}</td>
								<td>{{ data.department }}</td>
								<td v-if="data.meeting_status == 0">未开</td>
								<template v-else> 
									<td v-if="data.meeting_status == 1">正在开</td>
									<td v-else>已开</td>
								</template>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<form id="form" class="form-horizontal" role="form" v-cloak>
				<div class="form-group">
					<label class="col-sm-2 control-label">会议室：</label>
					<div class="col-sm-10">
						<select class="form-control meeting-room" name="meeting_room">
							<template v-for="option in meeting_room">
						        <option :value="option.room" v-if="option.room == data.meeting_room" selected>
						            {{ option.room }}
						        </option>
						        <option :value="option.room" v-else>
						            {{ option.room }}
						        </option>
						    </template>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">日期：</label>
					<div class="col-sm-10">
						<input class="form-control meeting-date" name="meeting_date" type="text" placeholder="日期" value="{{ data.meeting_date }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">开始时间：</label>
					<div class="col-sm-10">
						<input class="form-control" id="startTime" name="starttime" type="text" placeholder="开始时间" value="{{ data.starttime }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">结束时间：</label>
					<div class="col-sm-10">
						<input class="form-control" id="endTime" name="endtime" type="text" placeholder="结束时间"  value="{{ data.endtime }}">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">申请人：</label>
					<div class="col-sm-10">
						<input class="form-control" name="proposer" type="text" placeholder="申请人" value="{{ data.proposer }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">内容：</label>
					<div class="col-sm-10">
						<input class="form-control" name="meeting_intro" type="text" placeholder="内容" value="{{ data.meeting_intro }}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">部门：</label>
					<div class="col-sm-10">
						<input class="form-control" name="department" type="text" placeholder="部门" value="{{ data.department }}">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a class="btn btn-default form-submit">提交</a>
						<a class="btn btn-default" href="listAll.html" style="margin-left: 20px;">取消</a>
				    </div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="./pkgs/jquery/jquery.min.js"></script>
<script src="./pkgs/vue/vue.min.js"></script>
<script src="./pkgs/layer/layer.js"></script>
<script src="./pkgs/My97DatePicker/WdatePicker.js"></script>
<script src="./js/common.js"></script>
<script>
var data_id =  location.search.replace("?id=",""),
	renderDomForm;

$.ajax({
	type: "get",
	url: "http://192.168.104.47:9000/server.js?operate=select&id=" + data_id,
	dataType: "json",
	success: function(result){
		data = result.Data[0];
		renderDomForm = new Vue({
			el: "#form",
			data: {
				data: data,
				meeting_room: [{"room": "大会议室"}, {"room": "录演厅"}]
			}
		});
		$.getScript("./js/form.js")
	}
});

$(".form-submit").on("click", function(e){
	e.preventDefault();
	var status = 0;
	$("input").each(function(){
		if ($(this).val() == '') {
			status = 1;
			layer.alert($(this).attr("placeholder") + "不能为空", {
				title: tips_info.layer_title,
				yes: function(){
					layer.closeAll();
				}
			});
			return false;
		}
	});
	if (status) return;

	var data = $("form").serialize().replace(/\+/g, "");
	$.ajax({
		url: "http://192.168.104.47:9000/server.js?operate=update&id=" + data_id,
		type: "get",
		dataType: "json",
		data: data,
		success: function(result){
			if(result.Success){
				layer.alert(result.Msg, {
					title: tips_info.layer_title,
					yes: function(){
						location.href = "listAll.html";
					}
				})
			} else {
				layer.alert(result.Msg, {
					title: tips_info.layer_title,
					yes: function(){
						layer.closeAll();
					}
				})
			}
		}
	});
});
</script>

</body>
</html>